*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #f1f1f1;
}
#footer{
    width: 100%;
    height: 100vh;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#footer h1{
    color: #33ff88;
    margin-bottom: 20px;
}
#footer label{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;

} 
#footer input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    border-top-style: none ;
    border-left-style: none ;
    border-right-style: none ;
    border-bottom: 1px solid #494963;
    color: #333333;
}
#footer .submit{
    width: 100%;
    padding: 10px;
    background: #33ff88;
    color: black;
}
#bajo {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #33ff88;
    box-sizing: border-box;
}