p {
color:rgb(27, 161, 194);
margin-bottom: 1.3em;
}
h1 {
    font-size: 4rem;
    line-height: 1.3em;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(235, 229, 229);
    font-size: 1.3rem;
    line-height: 1.6em;
    margin: 0;
}
#texto {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
#menu header {
    background: #33ff88;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
#menu header ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu header ul li{
    padding: 40px ;
    display: inline-block;
    vertical-align: middle;
}
#menu header ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.8s linear;
}
#menu header ul li a:hover{
    text-decoration: underline;
    color: 	#2e9e6f;
}
#titulo header main{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#titulo header main .text h2{
    font-size: 80px;
}
#main-container main .text p{   
    font-size: 24px;
    padding: 20px 0;
}
footer{
    padding: 4rem 0;
    background: #33ff88;
    text-align: center;
    color: black;
}
footer p{
    color: black;
}