body{
    font-weight: bold;
    font-size: 15px;
    margin: 50px;
    line-height: 3em;
}
footer{
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 2em;
    width: 400px;
}
#footer input[id="name"]{
    width: 100%;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
}
.myCheckbox input:checked{
    background-color: green;
}